{% extends 'base.html' %}

{% block content %}
  <h1>INDEX</h1>
  <a href="{% url 'movies:create' %}">[CREATE]</a>
  <hr>
  {% for movie in movies %}
    <a href="{% url 'movies:detail' movie.pk %}"><p>{{ movie.title }}</p></a>
    {% if request.user.is_authenticated %}
      <div>
        <form action="{% url 'movies:likes' movie.pk %}" method="POST">
          {% csrf_token %}
          {% if request.user in movie.like_users.all %}
            <input type="submit" value="좋아요 취소">
          {% else %}
            <input type="submit" value="좋아요">
          {% endif %}
        </form>
      </div>
    {% endif %}
    <hr />
  {% endfor %}
{% endblock %}
